<%- include("partials/header.ejs") %>    
<div class="indexContainer min-vh-100">
<!-- ================================ HEADER FOR SHOWING ERROR MESSAGE ============================================= -->

<div class="modal <%= toastvalue %> mt-5" tabindex="-1" role="dialog" id="toast">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p class="text-black"><%= msg %></p>
      </div>
    </div>
  </div>
</div>

<!-- ================================ !HEADER FOR SHOWING ERROR MESSAGE ============================================= -->    

<% if(user == "notAuthenticated"){ %>
    <div class="container mt-5 home-container">
      <div class="row d-flex justify-content-between p-2 main-first">
          <div class="col-5">
            <img src=".././images/ratatouille.png" alt="no image" class="img-fluid main-logo">
          </div>
          <div class="col-5 main-first-content">
            <div class="text-white">
              <h1 class="mb-1 mt-5">Mess</h1>
              <div class="d-flex">
                <h1 class="mb-3" style="color: yellow">Complaint</h1>&nbsp;&nbsp;
                <h1 class="mb-3">Portal</h1>
              </div>
              <p class="mb-4">let your complaint reach to the other students, highlighted by upvoting by other students and let it reach to the cheif warden to solve it faster.</p>

              <!-- <div class="col-4"> -->
                <a class="btn btn-outline-light btn-lg" href="/signup" role="button" aria-expanded="false">
                  Sign up
                </a>
              <!-- </div> -->
              <div class="dropdown">
                <a class="btn btn-outline-light btn-lg" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  login
                </a>
                <div class="dropdown-content bg-transparent">
                  <a class="dropdown-item" href="/login/?user=student" role="button">Student</a>
                  <a class="dropdown-item" href="/login/?user=chiefwarden" role="button">Chief Warden</a>
                  <a class="dropdown-item" href="/login/?user=student" role="button">Accountant</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
      <div class="row mb-5 main-second justify-content-center">
        <div class="row mb-4 text-center">
          <h1 style="font-family: Arial, Helvetica, sans-serif;">Our hostels</h1>
        </div>
        <div class="col-4 mb-3" style="width: 20rem;">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col-4 mb-3" style="width: 20rem;">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
        <div class="col-4 mb-3" style="width: 20rem;">
          <div class="card h-100">
            <img src="https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp" class="card-img-top" alt="Hollywood Sign on The Hill"/>
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
            </div>
          </div>
        </div>
      </div>
</div>

<% }else{ %>
<div class="indexContainer min-vh-100">
    <div class="mt-5">
    <% allPost.forEach((item) => { %>
        <div class="card mb-3 p-3 m-1" style="width: 24rem; height: fit-content;">
            <h5 class="card-title"><%= item.postedby.name%></h5>
            <h6 class="card-title"><%= item.postedby.hostel%></h6>
            <img style="height: 20rem" src="<%= item.photo %>" alt="..." >
            <div class="card-body">
              <p class="card-button"> 
                <div class="row align-items-start">
                    <div class="col-6">
                      <form action="/upvote", method="post">
                        <input type="hidden" value="<%= item.id %>" name="postid">
                        <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-arrow-up"></i> Upvote(<%= item.upvote.length %>)</button>
                      </form>
                    </div>
                    <div class="col-6">
                      <form action="/downvote", method="post">
                        <input type="hidden" value="<%= item.id %>" name="postid">
                        <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-arrow-down"></i> Downvote(<%= item.downvote.length %>)</button> 
                      </form>
                    </div>
                </div>  
              </p>
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.body %></p>
              <input type="checkbox" id="ch">
              <p class="card-text"><small class="text-muted">Comments</small></p>
              <p class="card-text more-comments"><small class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nesciunt deleniti magni, provident laborum voluptates distinctio dicta amet rem, maxime iusto aspernatur culpa velit, accusantium error corrupti! Qui, natus blanditiis!</small>
                <label for="ch">Show less</label>
              </p>
              <label for="ch">Read more</label>
            </div>
        </div>
    <% }) %>
    </div>
</div>
<% } %>
<%- include("partials/footer.ejs") %> 