<%- include("partials/header.ejs") %>    

<div class="indexContainer">
    <div class="mt-5">
    <% allPost.forEach((item) => { %>
        <div class="card mb-3 p-3 m-1" style="width: 24rem; height: fit-content;">
            <h5 class="card-title"><%= item.postedby.name%></h5>
            <h6 class="card-title"><%= item.postedby.hostel%></h6>
            <img style="height: 20rem" src="<%= item.photo %>" alt="..." >
            <div class="card-body">
              <p class="card-button container"> 
                <div class="row align-items-start">
                    <div class="col-6">
                        <button class="btn btn-block btn-primary"><i class="fa fa-arrow-up"></i> Upvote</button>
                    </div>
                    <div class="col-6">
                        <button class="btn btn-block btn-primary col-1"><i class="fa fa-arrow-down"></i> Downvote</button> 
                    </div>
                </div>  
              </p>
              <h5 class="card-title"><%= item.title %></h5>
              <p class="card-text"><%= item.body %></p>
              <input type="checkbox" id="ch">
              <p class="card-text"><small class="text-muted">Comments</small></p>
              <p class="card-text more-comments"><small class="text-muted">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nesciunt deleniti magni, provident laborum voluptates distinctio dicta amet rem, maxime iusto aspernatur culpa velit, accusantium error corrupti! Qui, natus blanditiis!</small>
                <label for="ch">Show less</label>
              </p>
              <label for="ch">Read more</label>
            </div>
        </div>
    <% }) %>
    </div>
</div>
<%- include("partials/footer.ejs") %> 